# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.js; *.json]
# The SAM templates seem to use 4-space indentation for JavaScript and JSON.
# (Not for YAML, though.)
# We'll follow their conventions here.
indent_size = 4
