@import '~leaflet/dist/leaflet.css';

body {
  margin: 0;
  width: 100%;
}

/*
 * I'd like the map to be flush against the edges of the screen, but every
 * other element should have some margins around it.
 */
body > :not(#map) {
  margin: 1rem;
}

#map {
  height: 60vh;
  width: 100%;
}

#global-parameters {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0 0.2em;
}

#global-parameters label {
  text-align: right;
}

#best-routeId,
#best-path,
#current-generation,
#new-routes-list > li,
#best-routes-list > li {
  font-family: monospace;
}

#new-routes-list > li::marker,
#best-routes-list > li::marker {
  font-family: serif;
}
